extends layout

block content
  h1 Cliffanie Airlines
  h2 Check in to your flight automagically
  form(name="check_in_form", action="/check_ins", method="post")
    div Confirmation #
    input(type="text", placeholder="Confirmation #", name="confirmationNumber")
    div First Name
    input(type="text", placeholder="First Name", name="firstName")
    div Last Name
    input(type="text", placeholder="Last Name", name="lastName")
    div Email Address
    input(type="text", placeholder="Email Address", name="emailAddress")
    div Departure Date and Time
    input(type="text", id="departureDateTime", name="departureDateTime", placeholder="Click to select.")
    div Departure Airport
    input(type="text", id="departureAirport", name="departureAirport", placeholder="Departure Airport")
    div
    input(type="submit", value="Submit")

  link(rel="stylesheet", href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  link(rel="stylesheet", href="/css/vendor/jquery-ui-timepicker-addon.css")
  script(src="//code.jquery.com/jquery-1.9.1.js")
  script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="/js/vendor/jquery-ui-timepicker-addon.js")

  script(src="/js/form.js")
